<%# add navigation links to this file %>
<li><%= link_to 'На главную', root_path %></li>
<li><%= link_to 'Введение', page_path('page1') %></li>
<li><%= link_to 'МЭСМ', page_path('mesm1948') %></li>
<li><%= link_to 'БЭСМ', page_path('besm1953') %></li>
<li><%= link_to 'Урал-1', page_path('ural1-1957') %></li>
<li><%= link_to 'Сетунь', page_path('setun1959') %></li>
<li><%= link_to 'Мир', page_path('mir') %></li>
<li><%= link_to 'ЕС 1035', page_path('es1035-1977') %></li>
<li><%= link_to 'Эльбрус', page_path('elbrus') %></li>
<li><%= link_to 'ДВК', page_path('dvk1982') %></li>
<li><%= link_to 'Тест', page_path('test') %></li>
<li><%= link_to 'Литература', page_path('links') %></li>
<li><%= link_to 'Словарь', page_path('dictionary') %></li>
<li><%= link_to 'Об авторе', page_path('about') %></li>
